/* REGOLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  display: block;
  text-decoration: none;
}
.container::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.container li {
  display: inline-block;
  padding-top: 15px;
}
ul {
  list-style-type: none;
}

/* FINE REGOLE */

/* HEADER */

header .container .brand{
  padding: 20px;
  background-size: 12px;
  margin-top: 15px;
}
header .container .menu {
  text-align: center;
  height: 50px;
}
header .container .menu-lang {
  text-align: right;
}

header .container .col-menu-center ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 11px;
  padding: 20px;
  line-height: 20px;
}
header .container .col-menu-right ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 11px;
  padding: 2px;
  line-height: 60px;
  text-align: right;
}
.menu {
  padding-left: 200px;
}
.menu-lang {
  padding-left: 100px;
}
.menu-lang  li a {
  border-right:  1px solid #333;
}
.menu-lang li:last-child a {
  border-right: none;
}
.jumbotron {
  background-image: url(../img/header-jmb.jpg);
  background-size: cover;
  height: 650px;
  position: relative;
  width: 100vw;
}
.teaser {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
header .jumbotron .teaser h1 {
  font-size: 3em;
  margin-bottom: 13px;
  text-transform: capitalize;
}
header .jumbotron .teaser p {
  font-size: 1em;
  margin-bottom: 15px;
}
/* FINE HEADER */

/* MAIN */
main .container .logo {
  height: 100px;
  width: 100px;
  left: 50%;
  top: 50%;
  transform: translate(-50%; -50%);
  color: black;
  font-weight: 600;
  letter-spacing: 0;
}
main .container img {
  width: 100%;
}
main .container .content-item {
  margin: 70px 20px 70px ;
  width: 44%;
  height: 700px;
  background-color: #fff;
  padding: 70px 20px 40px;
  display: inline-block;
  text-align: center;
}
main .container .content-item {
  background-color: #fafafa;
  height: 600px;
  width: 700px;
  margin: 60px;
}
main .container .img-fluid {
  color: black;
  width: 45%;
  padding: 5px;
  display: inline-block;
  position: relative;
  display: inline-block;
  letter-spacing: 2px;
  text-align: center;
}
/* perchè il content-item destro ha un a carattere diverso??? */

main .container .img-fluid a {
  text-decoration: none;
}

main .container .content-item .item {
  height: 400px;
  width: 400px;
}
main .container .img-fluid a:hover {
  text-decoration: underline;
}
main .phoneslide-top {
  background-image: url(../img/HelbizBanner.jpg);
  background-size: cover;
  height: 450px;
}
main .phoneslide-top img {
  display: block;
  height: 600px;
  margin: 0 auto;
  position: relative;
  top: 30%;
}
main .phoneslide-bottom {
  margin-bottom: 10px;
}
main .phoneslide-bottom h2 {
  font-size: 24px;
}
main .phoneslide-bottom-2 p {
  padding: 0;
  float: right;
  /* ??? NON RIESCO A PORTARE QUESTA SCRITTA A DESTRA DEL TELEFONO */
}
.phoneslide-bottom-1,
.phoneslide-bottom-2 {
  padding: 80px;
}
main .phoneslide-bottom-2 {
  vertical-align:right;
  float:left;
}
main .wrapper-home {
  max-width: 1040px;
  margin: 40px auto;
}
main .box-content {
  background-image: url(../img/ScooterHelbiz.jpg);
  background-size: cover;
  height: 400px;
}
main .box-content {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
main .box-content img {
  display: inline-block;
  height: 600px;
  margin: 0 auto;
  position: relative;
  top: 30%;
}
main .container .content-item {
  background-color: #fafafa;
  height: 600px;
  width: 700px;
  margin: 60px;
}
main .container .img-fluid {
  color: black;
  width: 45%;
  padding: 5px;
  display: inline-block;
  position: relative;
  display: inline-block;
  letter-spacing: 2px;
  text-align: center;
}

main .helbiz-family {
  background-image: url(../img/Social-Banner.jpg);
  background-size: cover;
  height: 420px;
  margin-bottom: 40px;
}
main .helbiz-family img {
  display: inline-block;
}
main .white-center-box {
  width: 400px;
  height: 200px;
  background-color: white;
  position: relative;
}



/* FOOTER */
footer .container-footer{
  width: 500vh;
  background-color: black;
}
